/* Facebook styles */

.fb_button, .fb_button_rtl {
    background: url("http://static.ak.fbcdn.net/rsrc.php/zL/r/FGFbc80dUKj.png") no-repeat scroll 0 0 #29447E;
    cursor: pointer;
    display: inline-block;
    outline: medium none;
    padding: 0 0 0 1px;
    text-decoration: none;
}
.fb_button .fb_button_text, .fb_button_rtl .fb_button_text {
    background: url("http://static.ak.fbcdn.net/rsrc.php/zL/r/FGFbc80dUKj.png") repeat scroll 0 0 #5F78AB;
    border-bottom: 1px solid #1A356E;
    border-top: 1px solid #879AC0;
    color: #FFFFFF;
    display: block;
    font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
    font-weight: bold;
    margin: 1px 1px 0 21px;
    padding: 2px 6px 3px;
    text-shadow: none;
}
a.fb_button, a.fb_button_rtl, .fb_button, .fb_button_rtl {
    text-decoration: none;
}
a.fb_button:active .fb_button_text, a.fb_button_rtl:active .fb_button_text, .fb_button:active .fb_button_text, .fb_button_rtl:active .fb_button_text {
    background: none repeat scroll 0 0 #4F6AA3;
    border-bottom: 1px solid #29447E;
    border-top: 1px solid #45619D;
    text-shadow: none;
}

/* Start Page Styles */

body {
  background: #B8C1DE;
}

.centered {
  margin: 0 auto;
}

div#logo {
  width: 300px;
}

img.logo {
  width: 300px;
}

div.wrapper {
  width: 100%;
  min-height: 800px;
}

div#content {
  width: 1000px;
}

div.box {
  width: 25%;
  height: 50%;
  min-height: 200px;
  padding: 2px;
  margin: 3%;
  border: 4px dotted black;
  float: left;
}

div.box img {
  width: 90%;
  margin: 4%;
}
