<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0
Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Tangible Ecards</title>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="http://connect.facebook.net/en_US/all.js"></script>
    <script>
      $(document).ready(function() {
      FB.init({
        appId  : '<%= @access_token %>',
        status : true, // check login status
        cookie : true, // enable cookies to allow the server to access the session
        xfbml  : true  // parse XFBML
      });
    })
    </script>    
  </head>

  <body>
    <%= yield %>
  </body>
</html>
